:root {
  --grid-rows: 1;
  --grid-cols: 1;
  padding: 2em;
}

#container {
  display: grid;
  grid-gap: 1em;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);

  background-color: cyan;
  padding: 1em;
}

.grid-item {
  padding: 1em;
  border: 1px solid #ddd;
  text-align: center;
  background-color: white;
  color: black;
}

.grid-item:hover {
  background-color: burlywood;
  color: white;
}
